body{
    background-color: 	rgb(201, 250, 201)
}

.texto-centralizado p{
    text-align: center;
    font-weight: bolder;
}

#footer {
    margin-top: 20px;
    background-color: rgb(100, 240, 107);
}